@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.portfolio-link{
    color:black;
    cursor: pointer;
    text-decoration: underline;
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color: #111 !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover{
    color: #00e8e8 !important;
}

.active .nav-link{
    color: #00e8e8 !important;
}

.site-content{
    background-image: url('images/abstract-bright-colorful-268941.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.site-title, .site-desc{
    color: #fff;
    font-family: 'Righteous';
}

.site-title{
    margin-top: 20%;
    margin-bottom: 6%;
    font-size: 50px;
}

.site-desc{
    font-size: 14px;
    padding-left: 15%;
}

.site-btn1{
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    margin-top: 5%;
    margin-bottom: 40%;
}

/* Section-1 */
.section-1, .heading-1{
    margin-top: 8%;
}

.heading-1{
    margin-bottom: 5%;
}

.section-1 .para-1{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text, .para-1{
    color: rgba(0,0,0,0.59);
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  

/* Section-4 */
.section-4{
    margin-top: 8%;
}

/* Section-2 */
.section-2, .row, .col-md-2{
    margin-top: 3%;
    margin-bottom: 5%;
}

.my-profile{
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 290px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer */
.social a{
    font-size: 3.5em;
}

.fa-facebook{
    color: #3b5998;
}

.fa-google-plus-g{
    color: #dd4b39;
}

.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

.fa-file-pdf{
    font-size: 2rem;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 1rem;
    margin-bottom: 0;
    height: 340px;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    footer{
        background-color: #3f3f3f;
        color: #d5d5d5;
        padding-top: 1rem;
        margin-bottom: 0;
        height: 600px;
    }
    .my-profile{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 290px;
        border-radius: 50%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

